### IntelliJ IDEA
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse (phòng hờ nếu ai đó dùng)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans / Ant
/nbproject/private/
/nbbuild/
/nbdist/
/dist/        # <- KHÔNG đẩy JAR build sẵn (giữ repo nhẹ)
/.nb-gradle/

### VS Code
.vscode/

### Java chung
*.class
*.log
*.tmp

### OS junk
.DS_Store
Thumbs.db

# Nếu có thư mục build ở gốc
/build/
